<div id="todo-container" class="w-50" style="margin: auto; padding: 2.5rem;">
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit">Ekle</button>
            </div>
            <input type="text" class="form-control" placeholder="Yeni görev ekleyin" required>
        </div>
    </form>

    <ul class="list-group text-dark">
        <li class="list-group-item">Yapılacak - 1</li>
        <li class="list-group-item">Yapılacak - 2</li>
        <li class="list-group-item">Yapılacak - 3</li>
    </ul>
</div>