<main class="bg-dark text-white text-center">
    
    <div style="padding: 1.5rem;">
        <h1>
            Merhaba Dünya!
        </h1>
        <p class="h4">
            <a href="https://www.youtube.com/ProjectHammer" target="_blank">Barış DEMİRCİ YouTube Kanalı</a> Express dersleri serisi
        </p>
    </div>

    <div style="padding: 1.5rem;">
        <form action="signup", method="POST">
            <label for="username">Kullanıcı Adı: </label>
            <input type="text" name="username" />
            <label for="password">Şifre: </label>
            <input type="text" name="password" />
            <button>Gönder</button>
        </form>
    </div>

</main>