<main class="bg-dark text-white text-center">
    <div class="container" style="padding: 1.5rem;">
        <h1>
            Merhaba Dünya!
        </h1>
        <p class="h4">
            <a href="https://www.youtube.com/ProjectHammer" target="_blank">Barış DEMİRCİ YouTube Kanalı</a> Express dersleri serisi
        </p>
    </div>
</main>