<div class="container text-white">
    <div class="row">
        <div class="col-md-6 pd-1-5">
            <form class="w-75" action="signup" method="POST">
                <h1>Kayıt</h1>
                <hr>
                <div class="input-group mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Kullanıcı Adı" required>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Şifre" required>
                </div>
                <input type="submit" class="btn btn-outline-light w-100" value="Kaydol!">
            </form>
        </div>
        <div class="col-md-6 pd-1-5">
            <form class="w-75" action="login" method="POST">
                <h1>Giriş</h1>
                <hr>
                <div class="input-group mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Kullanıcı Adı" required>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Şifre" required>
                </div>
                <input type="submit" class="btn btn-outline-light w-100" value="Giriş Yap!">
            </form>
        </div>
    </div>
</div>